<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohih.scheduler.scheduler.SchedulerMapper">
    <!--  int createEvent(Event event);  -->
    <insert id="createEvent" parameterType="com.ohih.scheduler.scheduler.dto.EventCreationRequest">
        INSERT INTO events
        (title, author_id, location, description, participants, start_date, end_date, start_time, end_time, all_day)
        VALUES (#{title}, #{authorId}, #{location}, #{description},
                #{participants, typeHandler=com.ohih.scheduler.config.typehandler.ListTypeHandler},
                #{startDate}, #{endDate}, #{startTime}, #{endTime}, #{allDay})
    </insert>

    <!--  List<Event> getEventsByMonth(LocalDate localDate);  -->
    <select id="getEventsByMonth" parameterType="map" resultType="com.ohih.scheduler.scheduler.dto.EventRequest">
        SELECT e.id,
               e.title,
               e.author_id  AS authorId,
               u.username   AS authorName,
               e.location,
               e.description,
               e.participants,
               e.status,
               e.start_date AS startDate,
               e.end_date   AS endDate,
               e.start_time AS startTime,
               e.end_time   AS endTime,
               e.all_day    AS allDay,
               e.created_at AS createdAt,
               e.updated_at AS updatedAt
        FROM events e
                 LEFT OUTER JOIN users u ON u.id = e.author_id
        WHERE e.start_date &gt;= #{startOfMonth}
          AND e.end_date &lt;= #{endOfMonth}
    </select>

</mapper>
